/* Couleurs de base */
:root {
  --ulaval-red: #e30513;
  --ulaval-yellow: #ffc103;
  --ulaval-dark-grey: #515151;
}

body {
  font-family: Arial, sans-serif;
  color: var(--ulaval-dark-grey);
}

h1 {
  color: var(--ulaval-red);
  border-bottom: 2px solid var(--ulaval-yellow);
}
